<div class="project-main-wrapper" id="project">
  <div class="project-header">
    <h1>Projects</h1>
  </div>
  <% data.projects.each do |project| %>
  <div class="project-wrapper">
    <div class="project-container">
      <div class="image">
        <img src= '../assets/images/<%= project.image %>' class="project-image">
      </div>
      <div class="project-text">
          <h3><%= project.name %></h3>
          <p class="description""><%= project.description %></p>
          <p class="info"><%= project.info %></p>
        <div class="project-links">
        <a class="external-links" href=<%= project.url %> target="_blank">
          <img class="link-icon", src="../assets/images/globe-solid.svg"></img>
        </a>
          <a class="external-links" href=<%= project.github %> target="_blank">
            <img class="link-icon", src="../assets/images/github-square.svg"></img>
           </a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


