<div class="wrapper">
  <%= partial 'partials/banner' %>
  <%= partial 'partials/about' %>
  <%= partial 'partials/skill' %>
  <%= partial 'partials/project' %>
  <%= partial 'partials/contact' %>
</div>
