<div class="container">
  <%= partial 'partials/header' %>
  <%= partial 'partials/about' %>
  <%= partial 'partials/skill' %>
  <%= partial 'partials/project' %>
  <%= partial 'partials/contact' %>
</div>
